*{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  background-color: #000000;
}
.container{
  border: 1px solid red;
  width: 900px;
  margin: 0 auto;
  position: relative;
  font-size: 0px;
  /*padding:;*/
}
section{
  width: 100%;
}
.first{
  background-color: grey;
  height: 317px;
}
.third{
  background-color: #E0E0E0;
}
footer{
  width: 100%;
  background-color: #FFFFFF;
}
h1{
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px auto;
  font-weight: lighter;
}
span{
  color: #B6E4E7;
  font-weight: bold;
}
li{
  list-style: none;
  display: inline-block;
  color: #FFFFFF;
  padding: 0 10px;
  font-size: 20px;
}
ul{
  position: absolute;
  right: 1px;
  top: 7px;
}
.photo, .text{
  position: absolute;
}
.photo {
    top: 7px;
    left: 7px;
}
.text {
    top: 37px;
    right: 36px;
    width: 50%;
    text-align: center;
}
h2{
  color: #000000;
  font-size: 20px;
  margin: 10px auto;
}
.text p{
  font-size: 12px;
  color: black;
  text-align: center;
}
.button {
    font-size: 12px;
    color: black;
    background-color: #53C67F;
    width: 100px;
    height: 22px;
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    padding: 4px 2px;
    color: white;
  }
  .box{
    width: 280px;
    border: 1px solid #B8B8B8;
    height: 195px;
  }
.test{
    display: flex;
  }
.chair{
  background-image: url(../images/box1_img.jpg);
  background-size: cover;
  flex-grow: 1;
  margin: auto 2%;
}
.baby{
  background-image: url(../images/box2_img.jpg);
  background-size: cover;
  flex-grow: 1;
  margin: auto 2%;
}
  .input{
    flex-grow: 1;
  }
  .input h3{
    font-size: 14px;
    padding: 10px 0;
    font-weight: bold;
  }
  .input p{
    font-size: 10px;
  }
  .second{
    height: 200px;
  }
.photo_text{
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  background:rgba(255,255,255, 0.3);
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 23px;
  padding-top: 0.5%;
}
.photo_text::before{
  display: block;
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #53C67F;
  content: '';
  bottom: 0;
  left: 0;
}
h3::before{
display: block;
position: absolute;
width: 100px;
height: 5px;
background-color: #53C67F;
content: '';
top: 24px;
right: 176px;
}
h4{
  font-size: 14px;
  font-weight: lighter;
  margin: 2% auto;
}
h4::before{
  display: block;
  position: absolute;
  width: 200px;
  height: 5px;
  background-color: #53C67F;
  content: '';
  top: 35px;
  left: 0;
}
.plan{
  width: 900px;
  display: flex;
}
.plan div{
  flex-grow: 1;
  border: 1px solid grey;
  height: 400px;
  margin: auto 2%;
  position: relative;
}
.plan h5{
  color: #53C67F;
  font-size: 14px;
  position: absolute;
  top: 6%;
  left: 27%;
}
.plan_type p{
  color: #C8C8C8;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 6%;
  position: absolute;
  top: 65px;
  left: 68px;
}
.zero{
  color: #C8C8C8;
  font-size: 14px;
  position: absolute;
  top: 85px;
  left: 88px;
}







.Signature{
  font-size: 12px;
  color: grey;
  margin-bottom: 2%;
}
.foot{
  width: 20px;
  height: 20px;
}
.pics{
  position: absolute;
  top: 0;
  right: 113px;
}
.last {
    position: absolute;
    top: 0;
    right: 10px;
    color: #000000;
    font-size: 12px;
}
